
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:none;
  outline: none;
}

body {
  background-color: var(--bg-body-color);
  color: var(--text-body-color);
}

h1 {
  text-align: center;
  margin-bottom:50px;
  padding: 30px;
  font-size: 4rem;
  text-transform: capitalize;
  background-image: linear-gradient(to top, rgba(93, 93, 136, 0.39), rgba(64, 64, 251, 0.721));
}
.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgba(255, 255, 255, 0.523);
  margin: 30px auto;
  padding: 20px;
  width: 70vw;
  background: rgba(80, 140, 164, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
}
p {
  font-size: 22px;
}
.icon {
  cursor: pointer;
  font-size: 26px;
  padding: 5px;
  transition:var(--transition-0-5);
}

.icon:hover {
  font-size: 29px;
}
.icon-star,
.icon-trash-o,.icon-angry {
  opacity: 0.4;
}
.icon-star:hover,
.icon-trash-o:hover,.icon-angry:hover{
  opacity: 1;
}
.icon-star:hover {
  color: orange;
}

.icon-trash-o:hover {
  color: red;
}
.icon-angry:hover {
  color: green;
}

h2.heading{
    margin-top: 100px;
    font-size:40px;
    text-align: center;
    margin-bottom: 40px;
     
}
h2.heading:hover{
  animation: heading-animation 3s infinite linear;
  cursor: pointer;
}

form{
 text-align: center;
}

form input{
    padding: 10px 20px;
    border-radius: 6px;
    width:35vw;
    
}
form input::placeholder{
  text-align: center;
  font-size: 19px;
}

button{
    all:unset;
}
form button.icon-check{
    position: relative;
    top:8px;
    color:rgba(0, 128, 0, 0.559);
    font-size: 30px;
    cursor: pointer;
    transition: var(--transition-0-5);
}

form button.icon-check:hover{
   color:green;
}